[program:chown]
autorestart=false
command=/bin/sh -c "mkdir -p /execution /data-ephemeral && chown {{SYMBOL}}:{{SYMBOL}} /execution /data-ephemeral"
priority=10
startretries=0
startsecs=0
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
user=root
