[program:{{SYMBOL}}]
autorestart=true
user=root
stdout_logfile=/data-ephemeral/{{SYMBOL}}.log
stdout_logfile_maxbytes=104857600
redirect_stderr=true
command=/usr/local/bin/start_eth.sh
priority=20

[program:{{SYMBOL}}-stdout-tail]
autorestart=true
user=root
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
command=tail -F /data-ephemeral/{{SYMBOL}}.log
priority=21
